/venv
prod_envs.sh
dev_envs.sh
.vscode/
.idea/
api/__pycache__/ 
api/migrations/__pycache__/ 
api_auth/__pycache__/ 
api_auth/migrations/__pycache__/ 
friends/__pycache__/ 
friends/migrations/__pycache__/ 
chats/__pycache__/ 
chats/migrations/__pycache__/ 
r2a_backend/__pycache__/ 
support/__pycache__/
support/migrations/__pycache__/
polls/__pycache__/
polls/migrations/__pycache__/
followers/__pycache__/
followers/migrations/__pycache__/
stories/__pycache__/
stories/migrations/__pycache__/
notifications/__pycache__/
notifications/migrations/__pycache__/
__pycache__/
*/__pycache__/
logs/
.env.prod
.env.prod.db
/static/
.DS_Store
*.db
credsProd.json
dev_creds.json

env/